{% extends "BlogApp/base.html" %}

{% load static %}

{% block contenido_no_heredado %}   
<title>Registro de Usuario</title>
<div style="margin-top: 5%;" ></div>


<div class="title">Registro de Usuario</div>

    {% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}
<div class="bloque_forms">
 
    <div class="form_bloque">
        <form class="form_estilo" method="POST">
            <div class="form_title">Regístrate como Usuario</div>
            <div class="atributos">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input class="submit" type="submit"  value="Registrarse">
        </form>
    </div>

</div>


    
<br><br>

{% endblock contenido_no_heredado %}   
