{% extends "BlogApp/base.html" %}

{% load static %}

{% block contenido_no_heredado %}   
<title>Registro de Usuario</title>
<div style="margin-top: 5%;" ></div>
<style>
     div.mensaje{
        width: 100%;
        padding: 0.5%;
        margin-bottom: 2%;
        text-align: center;
        color: white;
        background-color: grey;
        font-weight: bold;        
        font-size: 90%;
    }
    
    div.form_title{
        padding-top: 3%;
        font-weight: bold;
        text-decoration: underline;
        font-family: "Open Sans";
        padding-left: 6%;
    }
    div.title{
        padding: 2%;
        font-size: 180%;
        text-align: center;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-family:"Open Sans";
    }
    div.bloque_forms{
        display: flex;
        width: 100%;
    }
    div.form_bloque{
        flex: 25%;
        padding-left: 3%;
        padding-right: 3%;
    }
    form.form_estilo{
        width: 100%;
        background-color: rgb(70, 77, 83);
        color: white;
        font-size: 90%;
        border: solid 3px black;
        border-bottom: none;
     
    }
    div.atributos{
        padding-left: 6%;
        padding-right: 2%;
        width: 100%;
    }

    input.submit{
        width: 100%;
        padding: 0%;
        border: none;
        border-bottom: solid 3px black;
        font-family:"Open Sans";
        padding: 1%;
        
    }
    input.submit:hover{
        background-color: black;
        color: white;
    }

</style>

<div class="title">Registro de Usuario</div>

    {% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}
<div class="bloque_forms">
 
    <div class="form_bloque">
        <form class="form_estilo" method="POST">
            <div class="form_title">Regístrate como Usuario</div>
            <div class="atributos">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input class="submit" type="submit"  value="Registrarse">
        </form>
    </div>

</div>


    
<br><br>

{% endblock contenido_no_heredado %}   
