{% extends "BlogApp/base.html" %}

{% load static %}

{% block contenido_no_heredado %}   
<title>Registro de Usuario</title>
<div style="margin-top: 5%;" ></div>


<div class="title">Modificación de datos</div>

    {% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}
<div class="bloque_forms">
 
    <div class="form_bloque">
        <form class="form_estilo" method="POST">
            <div class="form_title">Modifique su perfil</div>
            <div class="atributos">
                <p>Datos de {{ object.username }}</p>
                {% if user.avatar.imagen.url and user.avatar.imagen.url != "" %}
                <a href="{% url 'update-avatar' user.avatar.id %}"><img src="{{user.avatar.imagen.url}}" width="120px" class="rounded"></a>
                {% else %}
                    <a href="{% url 'crear-avatar' %}"><img src="{% static 'BlogApp/assets/img/noprofile.jpg' %}" width="120px class="rounded""></a>
                {% endif %}
                        
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input class="submit" type="submit"  value="Actualizar">
        </form>
    </div>

</div>


    
<br><br>

{% endblock contenido_no_heredado %}   
