{% extends "BlogApp/base.html" %}
{% load static %}

{% block contenido_no_heredado %}
<title>Administración</title>
<br><br>

<!-- Page Header-->
<header class="header">
    <div class="title"> Administración (CRUD)</div>
</header>
{% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}

<div class = "crud">
    <a class = "flex" href="{% url 'crear-datos' %}">Creación de Datos</a>
    <a class = "flex" href="{% url 'buscar-articulos' %}">Búsqueda de Datos</a>
</div>

<div class = "crud">
    <a class = "flex" href="#">Actualización de Datos</a>
    <a class = "flex" href="{% url 'eliminar-datos' %}">Eliminación de Datos</a>
</div>
    



{% endblock contenido_no_heredado %}
