{% extends "BlogApp/base.html" %}
{% load static %}

{% block contenido_no_heredado %}
<title>Administración</title>
<br><br>

<!-- Page Header-->
<header class="header">
    <div class="title"> Administración de Datos</div>
</header>
{% if mensaje %}
        <div class = "mensaje">
            {{mensaje}}
        </div>
    {% endif %}

<div class = "crud">
    <a class = "flex" href="{% url 'crear-datos' %}">Crear</a>
    <a class = "flex" href="{% url 'buscar-articulos' %}">Buscar</a>
</div>

<div class = "crud">
    <a class = "flex" href="#">Actualizar</a>
    <a class = "flex" href="{% url 'eliminar-datos' %}">Eliminar</a>
</div>
    



{% endblock contenido_no_heredado %}
