{% extends "BlogApp/base.html" %}


{% load static %}

{% block contenido_no_heredado %}
<title>Artículos</title>
               

<div class="bloque_general">
   
    <h1 class="title">Lista de entradas</h1>

    <div class = "crud">
    {% if user.is_authenticated %}
    <a class = "btn btn-success rounded" href="{% url 'crear-articulo' %}">Nueva entrada</a>
    {% endif %}
    <a class = "flex btn" href="{% url 'buscar-articulos' %}">
        <i class="fa-solid fa-magnifying-glass"></i>
        Buscar entradas</a>
    </div>
    <ul class="lista">{% if object_list|length > 0 %}
        {% for articulo in object_list %}
        <hr />
        <li><a href="{% url "detalle-articulo" articulo.id %}"><h2>{{articulo.titulo}}</h2><br>
            <h4>{{articulo.subtitulo}}</h4><br>
            {% if articulo.imagen %}
            <img class="articulo__img" src={{articulo.imagen.url}}></img><br>
            {% endif %}
            <p>{{articulo.cuerpo|safe|truncatechars:150}}<strong><i> Leer más</i></strong></p></a><br>
            {% if user.is_authenticated %}
            <a class='btn btn-primary' href="{% url 'editar-articulo' articulo.id %}">Editar entrada</a>
            <a class='btn btn-danger' href="{% url 'eliminar-articulo' articulo.id %}">Eliminar entrada</a>
            <br>
            <br>
            {% endif %}
        </li>
        {% endfor %}
        {% else %}
        <p>No hay entradas aún... </p>
        <br>
        <br>
        {% endif %}
    </ul>
    {% if borrado %}
    <h3>Borrado con éxito {{borrado}}</h3>
    {% endif%}
    {% if modificado %}
    <h3>Modificado con éxito {{modificado}}</h3>
    {% endif%}
    </div>
</div>



{% endblock contenido_no_heredado %}