{% extends "BlogApp/base.html" %}


{% load static %}

{% block contenido_no_heredado %}
<title>Artículos</title>

<div class="bloque_general">
    <h1 class="title">{{object.titulo}}</h1>
    <h3 class="mb-5">{{object.subtitulo}}</h3>
    {% if articulo.imagen %}
        <img src="{{object.imagen.url}}" alt="imagen{{object.id}}" width="100%"></img>       
    {% endif %}

    <div class="texto">
    {{object.cuerpo|safe}}
    <br><br>
    </div>
    <i>Redactado por <strong>{{object.autor}}</strong> el {{object.fecha_publicacion}}</i><br>
    <i>En {{object.tematica}}</i>
    <br><br>
    <a class='btn btn-secondary' href="{% url 'listar-articulos' %}">Regresar al listado</a>
    {% if user.is_authenticated %}
    <a class='btn btn-primary' href="{% url 'editar-articulo' articulo.id %}">Editar entrada</a>
    <a class='btn btn-danger' href="{% url 'eliminar-articulo' articulo.id %}">Eliminar entrada</a>
    {% endif %}
    <br><br>
</div>
   
{% endblock contenido_no_heredado %}