{% extends "BlogApp/base.html" %}

{% load static %}

{% block contenido_no_heredado %}   
<title>Crear Objetos</title>
<div style="margin-top: 5%;" ></div>

<div class="title">Creación/Modificación de Artículos</div>

<div class="bloque_forms">

    <div class="form_bloque">
        <form class="form_estilo" method="POST" enctype="multipart/form-data">
            <div class="form_title">ARTÍCULO | {{object.titulo}} </div>
            <div class="atributos">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <input class="submit" type="submit" value="Proceder">
        </form>
    </div>
</div>


    
<br><br>

{% endblock contenido_no_heredado %}   
